.animal-border-radius {
  border-radius: 5px;
}

.animal-box-shadow {
  box-shadow: 0px 0px 4px black;
}

.animal-margin {
  margin-top: 20px;
}

.position-relative {
  position: relative;
}

.animal-back-button {
  color: white - 50;
  font-size: 25px;
  position: absolute;
  top: 20px;
  &:hover {
    color: white;
  }
}

.animal-name {
  position: absolute;
  bottom: 100px;
  left: 35px;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.animal-rent {
  position: absolute;
  bottom: 100px;
  right: 35px;
}


.home-banner-positioning {
  margin-top: 200px;
}

#banner-title{
  font-size: 48px;
}

.text-white {
  color: white;
}

.homepage-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  a:hover {
    text-decoration: none;
  }
}

#homepage-scrolldown-text{
  color: black;
  text-align: center;
}
