<div class="banner"">
  <div class="container">
    <div class="row">
      <h1 class="text-center" id="banner-title">Rent A Chimp</h1>
      <div class="banner-content home-banner-positioning col-md-12">
        <h3 class="text-center text-white">Booking Animals with no monkey business</h3>
        <div class="searchbar">
          <div class="input-group form-control">
            <%= form_tag animals_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find an animal"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <h2 id="homepage-scrolldown-text">Find Partners</h2>
      <div class="homepage-cards">
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Dog's</h2>
              <p>Man's Best friend</p>
            </div>
          </div>
        </div>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Chimp's</h2>
              <p>Man's Closest Relative</p>
            </div>
          </div>
        </div>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Cat's</h2>
              <p>Man's Cuddle Buddy</p>
            </div>
          </div>
        </div>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Camel's</h2>
              <p>Man's Desert Companion</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

