<h1>Animals#index</h1>
<div class="cards">
  <% @animals.each do |animal| %>
  <div class="card-category">
      <%= link_to animal.name, animal %>
      <%= animal.species %>
      <%= animal.age %>
  </div>
  <% end %>
</div>

