<div class="container">

  <div class="add-animal-btn">
    <%= link_to "Add new", new_animal_path, class: "btn btn-flat" %>
  </div>

  <div class="cards">
    <% @animals.each do |animal| %>
      <%= link_to animal_path(animal) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492182113/articles/2015/04/27/can-you-take-a-chimp-to-court/150426-spevack-animal-rights-tease_pm6qo6)">
          <h2><%= animal.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

